# Project exclude paths
/.gradle/
/Battleship/task/build/
/Battleship/task/out/
/Battleship/task/out/production/classes/
/Topics/Abstract class/Shape hierarchy/out/
/Topics/Abstract class/Shape hierarchy/out/production/classes/
/Topics/Custom exceptions/Square class/out/
/Topics/Custom exceptions/Square class/out/production/classes/
/Topics/Input streams/Convert to bytes/out/
/Topics/Input streams/Convert to bytes/out/production/classes/
/Topics/Input streams/Count words/out/
/Topics/Input streams/Count words/out/production/classes/
/Topics/Polymorphism/Find mistake/out/
/Topics/Polymorphism/Find mistake/out/production/classes/
/Topics/Switch statement/From string to a number/out/
/Topics/Switch statement/From string to a number/out/production/classes/
/Topics/The for-loop/Arithmetic average/out/
/Topics/The for-loop/Arithmetic average/out/production/classes/
/Topics/The keyword super/Employees/out/
/Topics/The keyword super/Employees/out/production/classes/